.Chat-main
  .Chat-main__group-info
    .Chat-main__group-info__left-side
      .Chat-main__group-info__left-side__name
        = @group.name
      .Chat-main__group-info__left-side__member
        Member :
        %ul
          - @group.users.each do  |user| 
            .Chat-main__group-info__left-side__member__list  
              %li=  user.name
    = link_to  edit_group_path(@group), class:  "Chat-main__group-info__right-side" do
      Edit
  .Chat-main__message-list
    = render @messages

  .Chat-main__footer
    = form_with model: [@group,  @message],  html:  {class: "Chat-main__footer__message-form"}, local: true do |f|
      =  f.text_field :content,  class: 'Chat-main__footer__message-form__input-Content', placeholder: 'type a message'
      =  f.label  :image, class: 'Chat-main__footer__message-form__input-Content__icon' do
        =  icon('far', 'image')
        =  f.file_field :image,  class:  'Chat-main__footer__message-form__input-Content__icon__hidden'
      = f.submit  'Send', class: 'Chat-main__footer__message-form__submit'



